/* /* /* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

.wraper {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    position: relative;
    background-color: darksalmon;
}

.logo {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login,
.Sing-up {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    display: flex;
    height: 36px;
    width: 90px;
    transition-property: outline;
    transition-duration: 200ms;
    transition-timing-function: linear;
    border-radius: 45px;
    justify-content: center;
    align-items: center;
}

.login:hover,
.Sing-up:hover {
    outline: solid 2px #fff;
    border-radius: 20px;
}

.header {
    position: absolute;
    top: 87px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-list {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
    justify-content: center;
}

.holiday-dreams {
    background-image: url(../img/Vector\ Smart\ Object.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
}

.eclipse {
    background-color: rgba(26, 25, 21, 0.35);
    min-height: 540px;
    color: #fff;
}